[submodule "swsim"]
	path = swsim
	url = https://github.com/tomasz-lisowski/swsim.git
[submodule "swicc"]
	path = swicc
	url = https://github.com/tomasz-lisowski/swicc.git
[submodule "swicc-pcsc"]
	path = swicc-pcsc
	url = https://github.com/tomasz-lisowski/swicc-pcsc.git
